<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Lender List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://localhost:8080/">Car Rental Company</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                    href="http://localhost:8080/car-list">Cars<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="http://localhost:8080/add-car">Add Car</a></li>
                    <li><a href="http://localhost:8080/car-list">List Cars</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                    href="http://localhost:8080/lender-list">Lenders<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="http://localhost:8080/registry-lender">Registry lender</a></li>
                    <li><a href="http://localhost:8080/lender-list">List lenders</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                    href="http://localhost:8080/car-type-list">Car Types<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="http://localhost:8080/add-car-type">Add car types</a></li>
                    <li><a href="http://localhost:8080/car-type-list">List car types</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                    href="http://localhost:8080/list-services-car">Car Service
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="http://localhost:8080/add-car-to-service">Add car to service</a></li>
                    <li><a href="http://localhost:8080/list-services-car">List services car</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                    href="http://localhost:8080/rent-car">Rent Car<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="http://localhost:8080/rent-car">Crate rent form</a></li>
                    <li><a href="http://localhost:8080/list-rented-car">List of rented car</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>


<br>
<h3 align="center">Existing Lenders</h3>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>City</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lender : ${lenders}">
            <td th:text="${lender.id}">Id</td>
            <td th:text="${lender.name}">Name</td>
            <td th:text="${lender.surname}">Surname</td>
            <td th:text="${lender.city}">City</td>
            <td><a th:href="@{'http://localhost:8080/updateLender?id=' + ${lender.id}}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a></td>
            <td><a th:href="@{'http://localhost:8080/deleteLender?id=' + ${lender.id}}">
                <span class="glyphicon glyphicon-trash"></span>
            </a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
