<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Rent Car</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://localhost:8080/">Car Rental Company</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                    href="http://localhost:8080/car-list">Cars<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="http://localhost:8080/add-car">Add Car</a></li>
                    <li><a href="http://localhost:8080/car-list">List Cars</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                    href="http://localhost:8080/lender-list">Lenders<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="http://localhost:8080/registry-lender">Registry lender</a></li>
                    <li><a href="http://localhost:8080/lender-list">List lenders</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                    href="http://localhost:8080/car-type-list">Car Types<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="http://localhost:8080/add-car-type">Add car types</a></li>
                    <li><a href="http://localhost:8080/car-type-list">List car types</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                    href="http://localhost:8080/list-services-car">Car Service
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="http://localhost:8080/add-car-to-service">Add car to service</a></li>
                    <li><a href="http://localhost:8080/list-services-car">List services car</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                    href="http://localhost:8080/rent-car">Rent Car<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="http://localhost:8080/rent-car">Rent Car</a></li>
                    <li><a href="http://localhost:8080/list-rented-car">List of rented car</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<form action="/updateExistServicedCar" method="post" style="margin-left: 25%; width: 50%; align-content: center; ">
    <input type="hidden" class="form-control" th:value="${servicedcar.id}" name="id" id="id">
    <div class="form-group" style="align-content: center; ">
        <label for="problemDescription">Problem description:</label>
        <input type="text" class="form-control" th:value="${servicedcar.problemDescription}" name="problemDescription"
               id="problemDescription">
    </div>
    <div class="form-group" style="align-content: center; ">
        <label for="repairedFrom">Repaired from:</label>
        <input type="date" class="form-control" th:value="${servicedcar.repairedFrom}" name="repairedFrom"
               id="repairedFrom">
    </div>
    <div class="form-group" style="align-content: center; ">
        <label for="repairedTo">Repaired to:</label>
        <input type="date" class="form-control" th:value="${servicedcar.repairedTo}" name="repairedTo" id="repairedTo">
    </div>
    <div class="input-group mb-3" style="width:100%">
        <div class="input-group-prepend">
            <label class="input-group-text" for="car">cars</label>
        </div>
        <select class="form-control" th:field="${servicedcar.car.id}" id="car" name="car">
            <option th:each="car : ${cars}"
                    th:value="${car.id}"
                    th:text="${car.id}+' '+${car.carType.mark}+' '+${car.carType.typeOfCar}"/>
        </select>
    </div>
    <br>
    <button type="submit" class="btn btn-default" style="align-content: center; margin-left: 40%; width: 20%">Submit
    </button>
</form>

</body>
</html>
